@font-face {
    font-family: 'Inter';
    src: url(./fonts/InterVariable.woff2),
    format('woff2-variations');
    font-weight: 100 900;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Inter';
    src: url(./fonts/InterVariable-Italic.woff2),
    format('woff2-variations');
    font-weight: 100 900;
    font-style: italic;
    font-display: block;
}

@font-face {
    font-family: 'Urbanist';
    src: url(./fonts/Urbanist-VariableFont_wght.woff2),
    format('woff2-variations');
    font-weight: 100 900;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Urbanist';
    src: url(./fonts/Urbanist-Italic-VariableFont_wght.woff2),
    format('woff2-variations');
    font-weight: 100 900;
    font-style: italic;
    font-display: block;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Urbanist', serif;
    font-weight: 550;
}

input, button {
    appearance: none;
    border: none;
    outline: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Inter', sans-serif;
    font-weight: 200;
}

body {
    background-color: rgb(210, 210, 210);
    margin: 1rem 2rem;
}

header {
    padding: 1rem 2rem;
    background-color: white;
    border-radius: 48px;
    box-shadow: 0 0.5rem 1rem;
}

nav {
    display: flex;
    justify-content: center;
    gap: 2.5rem;
    flex-wrap: wrap;
}

nav > button {
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    font-size: 2.5rem;
    background-color: rgb(139, 189, 254);
    padding: 1rem 2rem;
    border-radius: 2rem;
}

nav > button:hover {
    background-color: rgb(202, 225, 255);
    box-shadow: 0 0.25rem 0.5rem;
    font-weight: 600;
}

.content-card {
    background-color: white;
    padding: 1rem 1rem;
    margin: 1rem auto;
    border-radius: 48px;
}

.hero-card {
    padding: 1rem 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
}

.hero-card-text {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 35%;
}

.title {
    font-size: 5rem
}

.location {
    font-size: 2rem;
}

.tagline {
    margin-top: 5rem;
    font-size: 2rem;
}

.hero-photo {
    flex-basis: 60%;
    height: auto;
    flex-grow: 1;
    min-width: 0;
    display: block;
}

.card {
    background-color: rgb(210, 210, 210);
    border-radius: 48px;
    padding: 1rem 2rem;
}

.detail.card {
    display: flex;
    white-space: pre-line;
    justify-content: space-between;
    gap: 5rem;
    padding: 1rem;
}

.hour-card {
    padding: 1rem 2rem;
    background-color: white;
    border-bottom-left-radius: 32px;
    border-top-left-radius: 32px;
}

.location-card {
    padding: 1rem 2rem;
    background-color: white;
    border-bottom-right-radius: 32px;
    border-top-right-radius: 32px;
}

.hour-title, .location-title {
    font-size: 2.5rem;
}

.hour-text, .location-text {
    font-size: 1.5rem;
}